@model List<ResultSponsorBrandDto>
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                @foreach(var item in Model)
                {
                    <div class="bg-light p-4" style="width:150px; height:120px;">
                        <img src="@item.ImageUrl">
                    </div>
                }
               
            </div>
        </div>
    </div>
</div>

