@model List<ResultCargoCompanyDto>
@{
    ViewData["Title"] = "CargoCompanyList";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <a href="/Admin/Cargo/CreateCargoCompany/" class="btn btn-light"><i class="fa fa-plus me-1"></i>Add Cargo Company</a>
                <div class="card-body p-0">
                    <table class="table table-hover table-striped align-middle mb-0 ">
                        <thead class="table-light">
                            <tr>
                                <th>Company Name</th>
                                <th style="width: 240px;">Operations</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td>@item.cargoCompanyName</td>
                                    <td>
                                        <a href="/Admin/Cargo/UpdateCargoCompany/@item.cargoCompanyId" class="btn btn-warning me-2"><i class="fa fa-pencil"></i> Update</a>
                                        <a href="/Admin/Cargo/DeleteCargoCompany/@item.cargoCompanyId" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this cargo company?');"><i class="fa fa-trash"></i> Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


